RCL_0 RCDATA "resources\\css\\bootstrap.css"
RCL_1 RCDATA "resources\\css\\bootstrap.css.map"
RCL_2 RCDATA "resources\\css\\bootstrap.min.css"
RCL_3 RCDATA "resources\\css\\bootstrap.min.css.map"
RCL_4 RCDATA "resources\\css\\bootstrap-grid.css"
RCL_5 RCDATA "resources\\css\\bootstrap-grid.css.map"
RCL_6 RCDATA "resources\\css\\bootstrap-grid.min.css"
RCL_7 RCDATA "resources\\css\\bootstrap-grid.min.css.map"
RCL_8 RCDATA "resources\\css\\bootstrap-reboot.css"
RCL_9 RCDATA "resources\\css\\bootstrap-reboot.css.map"
RCL_10 RCDATA "resources\\css\\bootstrap-reboot.min.css"
RCL_11 RCDATA "resources\\css\\bootstrap-reboot.min.css.map"
RCL_12 RCDATA "resources\\css\\custom.min.css"
RCL_13 RCDATA "resources\\css\\fa-brands.css"
RCL_14 RCDATA "resources\\css\\fa-brands.min.css"
RCL_15 RCDATA "resources\\css\\fa-regular.css"
RCL_16 RCDATA "resources\\css\\fa-regular.min.css"
RCL_17 RCDATA "resources\\css\\fa-solid.css"
RCL_18 RCDATA "resources\\css\\fa-solid.min.css"
RCL_19 RCDATA "resources\\css\\fontawesome.css"
RCL_20 RCDATA "resources\\css\\fontawesome.min.css"
RCL_21 RCDATA "resources\\css\\fontawesome-all.css"
RCL_22 RCDATA "resources\\css\\fontawesome-all.min.css"
RCL_23 RCDATA "resources\\css\\green.css"
JSR_0 RCDATA "resources\\js\\bootstrap.js"
JSR_1 RCDATA "resources\\js\\bootstrap.min.js"
JSR_2 RCDATA "resources\\js\\Chart.bundle.js"
JSR_3 RCDATA "resources\\js\\Chart.min.js"
JSR_4 RCDATA "resources\\js\\fa-brands.js"
JSR_5 RCDATA "resources\\js\\fa-brands.min.js"
JSR_6 RCDATA "resources\\js\\fa-regular.js"
JSR_7 RCDATA "resources\\js\\fa-regular.min.js"
JSR_8 RCDATA "resources\\js\\fa-solid.js"
JSR_9 RCDATA "resources\\js\\fa-solid.min.js"
JSR_10 RCDATA "resources\\js\\fa-v4-shims.js"
JSR_11 RCDATA "resources\\js\\fa-v4-shims.min.js"
JSR_12 RCDATA "resources\\js\\fontawesome.js"
JSR_13 RCDATA "resources\\js\\fontawesome.min.js"
JSR_14 RCDATA "resources\\js\\fontawesome-all.js"
JSR_15 RCDATA "resources\\js\\fontawesome-all.min.js"
JSR_16 RCDATA "resources\\js\\jquery-3.3.1.min.js"
JSR_17 RCDATA "resources\\js\\popper.js"
JSR_18 RCDATA "resources\\js\\popper.min.js"
JSR_19 RCDATA "resources\\js\\tether.min.js"
JSR_20 RCDATA "resources\\js\\utils.js"
